body {
  background-color:#181818;
}
h1 {
  color:white; font-family:verdana;
}
h2 {
  color:white; font-family:verdana;
}
p {
  color:white; font-family:verdana;
}

      a:link {
        color: grey;
        background-color: transparent;
        text-decoration: none;
      }

      a:visited {
        color: grey;
        background-color: transparent;
        text-decoration: none;
      }

      a:hover {
        color: lightgrey;
        background-color: transparent;
        text-decoration: underline;
      }

      a:active {
        color: black;
        background-color: transparent;
        text-decoration: underline;
      }
      a.book:link {
        color: grey;
        background-color: transparent;
        text-decoration: none;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.5);
      }

      a.book:visited {
        color: grey;
        background-color: transparent;
        text-decoration: none;
      }

      a.book:hover {
        color: lightgrey;
        background-color: transparent;
        text-decoration: underline;
      }

      a.book:active {
        color: black;
        background-color: transparent;
        text-decoration: underline;
         background-color: black;;
      }