body {
  background-color:#181818;
  
}
h1 {
  color:white; font-family:verdana;
}
h2 {
  color:white; font-family:verdana;
}
p {
  color:white; font-family:verdana;
}
      a.book:link {
        color: grey;
        background-color: transparent;
        text-decoration: none;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.2);
      }

      a.book:visited {
        color: grey;
        background-color: transparent;
        text-decoration: none;
        font-size: 10px;
      }

      a.book:hover {
        color: lightgrey;
        background-color: transparent;
        text-decoration: underline;
        font-size: 10px;
      }

      a.book:active {
        color: black;
        background-color: transparent;
        text-decoration: underline;
        background-color: white;
        font-size: 10px;
      }
      a.book1:link {
        color: grey;
        background-color: transparent;
        text-decoration: none;
        padding: 1px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.2);
      }

      a.book1:visited {
        color: grey;
        background-color: transparent;
        text-decoration: none;
      }

      a.book1:hover {
        color: lightgrey;
        background-color: transparent;
        text-decoration: underline;
      }

      a.book1:active {
        color: black;
        background-color: transparent;
        text-decoration: underline;
        background-color: white;
      }
      a.bookred:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        display: inline-block;
        background-color: darkred;
      }
      a.bookred:hover {
        color: white;
        background-color: transparent;
        text-decoration: underline;
        font-size: 10px;
      }
      a.bookred:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
        font-size: 10px;
      }
      a.bookred:active {
        color: black;
        background-color: transparent;
        text-decoration: underline;
        background-color: white;
        font-size: 10px;
      }
