body {
  background-color:#181818;
  
}
h1 {
  color:white; font-family:verdana;
}
h2 {
  color:white; font-family:verdana;
}
p {
  color:white; font-family:verdana;
}
      a.book:link {
        color: grey;
        text-decoration: none;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        display: inline-block;
        background-color: black;
      }

      a.book:visited {
        color: grey;
        background-color: transparent;
        text-decoration: none;
        font-size: 10px;
      }

      a.book:hover {
        color: lightgrey;
        background-color: transparent;
        text-decoration: underline;
        font-size: 10px;
      }

      a.book:active {
        color: black;
        text-decoration: underline;
        background-color: white;
        font-size: 10px;
      }
      a.book1:link {
        color: grey;
        text-decoration: none;
        padding: 1px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background-color: black;
      }

      a.book1:visited {
        color: grey;
        background-color: transparent;
        text-decoration: none;
      }

      a.book1:hover {
        color: lightgrey;
        background-color: transparent;
        text-decoration: underline;
      }

      a.book1:active {
        color: black;
        background-color: transparent;
        text-decoration: underline;
        background-color: white;
      }
      a.bookred:link {
        color: white;
        text-decoration: none;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        display: inline-block;
        background-color: darkred;
      }
      a.bookred:hover {
        color: white;
        background-color: transparent;
        text-decoration: underline;
        font-size: 10px;
      }
      a.bookred:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
        font-size: 10px;
      }
      a.bookred:active {
        color: black;
        background-color: transparent;
        text-decoration: underline;
        background-color: white;
        font-size: 10px;
      }

      #searchapp {
        background-image: url('/images/search.png'); 
        background-position-x: 10px; 
        background-position-y: center; 
        background-repeat: no-repeat; 
        background-size: 15px;
        width: 100%; 
        box-sizing: border-box;
        font-size: 16px; 
        padding: 12px 20px 12px 40px; 
        border: 1px solid #ddd; 
        margin-bottom: 12px; 
      }
      ul.main{
        text-align:center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      a.booklink:link {
        text-decoration: none;
        margin: 5px;
        padding: 15px 25px;
        text-align: center;
        font-size: 0px;
        display: inline-block;
        background-color: black;
        
      }

      a.booklink:visited {
        background-color: transparent;
        font-size: 0px;
      }

      a.booklink:hover {
        background-color: transparent;
        font-size: 0px;
      }

      a.booklink:active {
        background-color: white;
        font-size: 0px;
      }
      footer{
        width: 100%;
        bottom: 0;
        background: linear-gradient(to bottom, #0b445e, black);
        color: white;
        padding: 10px 0 10px;
        border-top-left-radius: 125px;
        font-size: 13px;
        line-height: 20px;
        margin-top: 20px;

      }
      .row{
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
      }
      .col{
        flex-basis: 25%;
        padding: 10px;
      }
      .col:nth-child(2),  .col:nth-child(3){
        flex-basis: 25%;
      }

      .logo {
        width: 80px;
        margin: 10px;
      }
      .col ul {
      list-style-type: none;  
      padding: 0px;
      margin: 0px;

      }
      .col ul li{
        text-decoration: underline;
        color:white; font-family:verdana;
        list-style: none;
        margin:0;
        padding:0;
        margin-bottom: 12px;
      }
      ul li a{
        text-decoration: none;
        color: rgb(214, 247, 255);
      }
      h3 {
        color:white; font-family:verdana;
      }
      form {
        padding-bottom: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid white;
        margin-bottom: 50px;

      }
      form input{
        width: 100%;
        background: transparent;
        color: white;
        border: 0;
        outline: none;
      }
      form button{
        font-size: 16px;
        color: white;
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
      }
      .social-icons {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        margin-right: 15px;
        cursor: pointer;
      }
      hr{
        width: 90%;
        border: 0;
        border-bottom: 1px solid white;
        margin: 20px auto;

      }
      .copyright{
        text-align: center;
      }
      .underline{
        width: 100%;
        height: 5px;
        background: #ffffff;
        border-radius: 3px;

        top: 25px;
        left: 0;
      }
      .underline span{
        width: 15px;
        height: 100%;
        background: black;
        border-radius: 3px;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite;
      }
      @keyframes moving{
        0%{
          left: -20px;
        }
        100%{
          left: 100%;
        }
      }

      @media (max-width: 700px){
        footer{
          bottom: unset;
          
          .col{
            flex-basis: 100%;

          }
          .col:nth-child(2),  .col:nth-child(3){
            flex-basis: 100%;
          }
        }
      }