@font-face {
  font-family: 'Dosis';
  src:  url('/fonts/Dosis-Bold.woff2') format('woff2'),
        url('/fonts/Dosis-Bold.woff') format('woff'),
        url('/fonts/Dosis-Bold.tff') format('truetype');
}

body {
  background-color:#181818;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
:root {
  --color: ' ';
}
h1 {
  color:white; font-family:verdana;
  font-size: xx-large;
}
h2 {
  color:white; font-family:verdana;
}
p {
  color:white; font-family:verdana;
}
.home{
  width: 192px; 
  height: 108px;
  filter: drop-shadow(0 0 0.75rem black);
}
a.website {
  text-decoration: none
}
img.rotate {
  vertical-align:middle;
  padding-left: 5px;
  transition: transform .1s ease-in-out;
  transform-origin: center;
}
img.rotate:hover {
  transform: rotate(30deg);
  transform-origin: center;
}
a.book:link {
  color: grey;
  background-color: transparent;
  text-decoration: none;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(135deg, black 40%, #181818);
}
a {
  border-radius: 20px;
}
a.book:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}
a.book:hover {
  color: lightgrey;
  background-color: transparent;
  text-decoration: underline;
  box-shadow: 0px 0px 10px grey;
  transform: scale(1.1)
}
a.book:active {
  color: white;
  text-decoration: underline;
  background: none;
  box-shadow: none;
}
a.book1:link {
  color: grey;
  text-decoration: none;
  padding: 1px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  background: linear-gradient(135deg, black 40%, #181818);
}
a.book1:visited {
  color: grey;
  background-color: transparent;
  text-decoration: none;
}
a.book1:hover {
  color: lightgrey;
  background-color: transparent;
  text-decoration: underline;
  box-shadow: 0px 0px 10px grey;
  transform: scale(1.1)
}
a.book1:active {
  color: white;
  text-decoration: underline;
  background: none;
  box-shadow: none;
}
a.bookred:link {
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  display: inline-block;
  background-color: darkred;
}
a.bookred:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
  font-size: 10px;
  box-shadow: 0px 0px 10px grey;
  transform: scale(1.1)
}
a.bookred:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 10px;
}
a.bookred:active {
  color: white;
  text-decoration: underline;
  background: none;
  font-size: 10px;
  box-shadow: none;
}
#searchapp {
  padding: 0 8px 0 8px;
  background-image: url('images/search.png'); 
  background-position-x: 15px; 
  background-position-y: 13px; 
  background-repeat: no-repeat; 
  background-size: 15px;
  width: 100%; 
  box-sizing: border-box;
  font-size: 16px; 
  padding: 12px 20px 12px 40px; 
  border: 1px solid #ddd; 
  margin-bottom: 12px; 
  border-radius: 30px;
  background-color: #181818;
  color: white;
}
ul.main{
  text-align:center;
  list-style-type: none;
  padding: 0;
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
a.booklinksmall:link {
  text-decoration: none;
  margin: 5px;
  padding: 15px 25px;
  text-align: center;
  font-size: 0px;
  display: inline-block;
  background: linear-gradient(135deg, black 40%, #181818);
  border: 1px solid; 
  margin-bottom: 12px; 
  border-radius: 30px;
  background-color: #181818;
}
a.booklinksmall:visited {
  background-color: transparent;
  font-size: 0px;
}
a.booklinksmall:hover {
  background-color: transparent;
  font-size: 0px;
  box-shadow: 0px 0px 10px darkred;
  transform: scale(1.1)
}
a.booklinksmall:active {
  color: white;
  text-decoration: underline;
  background: none;
  font-size: 0px;
  box-shadow: none;
}

a.booklink:link {
  text-decoration: none;
  margin: 5px;
  padding: 15px 25px;
  text-align: center;
  font-size: 0px;
  display: inline-block;
  background: linear-gradient(135deg, black 40%, #181818);
}
a.booklink:visited {
  background-color: transparent;
  font-size: 0px;
}
a.booklink:hover {
  background-color: transparent;
  font-size: 0px;
  box-shadow: 0px 0px 10px grey;
  transform: scale(1.1)
}
a.booklink:active {
  color: white;
  text-decoration: underline;
  background: none;
  font-size: 0px;
  box-shadow: none;
}
footer{
  margin: -8px -8px -8px -8px;
  padding: 8px 8px 8px 8px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to top, black, transparent);
  color: white;
  font-size: 13px;
  line-height: 20px;
  margin-top: auto;
}
.row{
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col{
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2),  .col:nth-child(3){
  flex-basis: 25%;
}
.logo {
  width: 80px;
  margin: 10px;
}
.col ul {
  list-style-type: none;  
  padding: 0px;
  margin: 0px;
}
.col ul li{
  text-decoration: underline;
  color:white; font-family:verdana;
  list-style: none;
  margin:0;
  padding:0;
  margin-bottom: 12px;
}
ul li a{
  box-shadow: none;
  text-decoration: none;
  color: white;
}
ul li a:hover{
  box-shadow: none;
  text-decoration: none;
  color: grey;
  transform: scale(1.1)
}
h2 {
margin-top: 50px;
}
h3 {
  color:white; font-family:verdana;
}
.social-icons {
  filter: drop-shadow(0 0 0.75rem black);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  margin-right: 15px;
  
  cursor: pointer;
  display: inline;
}
hr{
  width: 90%;
  border: 0;
  border-bottom: 1px solid white;
  margin: 20px auto;
}
.copyright{
  text-align: center;
}

.button{
  height:200px;
  width:200px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #181818;
}
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}
.image-change {
  position: relative;
}
.twitter-images {
  position: relative;
  display: inline-block; /* Display the images side by side */
}
.twitter-images img {
  max-width: 100%; /* Ensure the images don't exceed the container width */
  max-height: 100%; /* Ensure the images don't exceed the container height */
  display: block; /* Remove any spacing between the images */
}
.image-change img.image2 {
  position: absolute;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}
.image-change img.image2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}
.image-change:hover img.image2 {
  opacity: 1;
}
.image-change:hover img.image1 {
  opacity: 0;
}
.button{
  height:200px;
  width:200px;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #181818;
}
::-webkit-scrollbar-thumb {
  background: white; 
  border-radius: 10px;
}
hr {
  margin: 40px;
  border: none;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, white, transparent);
  background-image: -moz-linear-gradient(left, transparent, white, transparent); 
  background-image: -ms-linear-gradient(left, transparent, white, transparent);
  background-image: -o-linear-gradient(left, transparent, white, transparent);
} 
.copyhr {
  margin: 40px;
  border: none;
  height: 1px;
  background-image: -webkit-linear-gradient(left, transparent, white, transparent);
  background-image: -moz-linear-gradient(left, transparent, white, transparent); 
  background-image: -ms-linear-gradient(left, transparent, white, transparent);
  background-image: -o-linear-gradient(left, transparent, white, transparent);
} 

noscript {
  color: red; 
  text-align: center; 
  text-transform: uppercase; 
  font-family:verdana;
}
.socials:hover{
  filter: grayscale(100%);
  transform: scale(125%);
}
.social:hover{
  filter: grayscale(100%);
  transform: scale(125%);
}
.socials{
  border-color: white;
  vertical-align:middle;
  transition: transform .1s ease-in-out;
  transform-origin: center;
  border-radius: 6px;
}
.social{
  vertical-align:middle;
  transition: transform .1s ease-in-out;
  transform-origin: center;
}
.social-icons {
  text-align: right;
}

/* Parent container to center the dropdown */
.parent-container {
  display: flex;
  justify-content: center;
}

.dropbtn {
  border-radius: 20px;
  background: linear-gradient(135deg, black 40%, #181818);
  margin: 5px;
  text-decoration: none;
  text-align: center;
  padding: 15px 25px;
  font-size: 0px;
  border: none;
  display: inline-block;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #181818;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
}

/* Links inside the dropdown */
.dropdown-content a {
  color:white; font-family:verdana;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: black;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: transparent; 
  box-shadow: 0px 0px 10px grey;
}
