body {
  background-color:#181818;
  
}
h1 {
  color:white; font-family:verdana;
}
h2 {
  color:white; font-family:verdana;
}
p {
  color:white; font-family:verdana;
}
a {
  position: relative;

}
      a.book:link {
        color: grey;
        text-decoration: none;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.5);
      }

      a.book:visited {
        color: grey;
        background-color: transparent;
        text-decoration: none;
        font-size: 10px;
      }

      a.book:hover {
        color: lightgrey;
        background-color: transparent;
        text-decoration: underline;
        font-size: 10px;
      }

      a.book:active {
        color: black;
        text-decoration: underline;
        background-color: white;
        font-size: 10px;
      }
      a.book1:link {
        color: grey;
        text-decoration: none;
        padding: 1px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.5);;
      }

      a.book1:visited {
        color: grey;
        background-color: transparent;
        text-decoration: none;
      }

      a.book1:hover {
        color: lightgrey;
        background-color: transparent;
        text-decoration: underline;
      }

      a.book1:active {
        color: black;
        background-color: transparent;
        text-decoration: underline;
        background-color: white;
      }
      a.bookred:link {
        color: white;
        text-decoration: none;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        display: inline-block;
        background-color: darkred;
      }
      a.bookred:hover {
        color: white;
        background-color: transparent;
        text-decoration: underline;
        font-size: 10px;
      }
      a.bookred:visited {
        color: white;
        background-color: transparent;
        text-decoration: none;
        font-size: 10px;
      }
      a.bookred:active {
        color: black;
        background-color: transparent;
        text-decoration: underline;
        background-color: white;
        font-size: 10px;
      }


      ul.main{
        text-align:center;
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      a.booklink:link {
        text-decoration: none;
        margin: 5px;
        padding: 15px 25px;
        text-align: center;
        font-size: 0px;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.5);;
        
      }

      a.booklink:visited {
        background-color: transparent;
        font-size: 0px;
      }

      a.booklink:hover {
        background-color: transparent;
        font-size: 0px;
      }

      a.booklink:active {
        background-color: white;
        font-size: 0px;
      }
      footer{
        width: 100%;
        bottom: 0;
        background: linear-gradient(to bottom, #0b445e, black);
        color: white;
        padding: 10px 0 10px;
        border-top-left-radius: 125px;
        font-size: 13px;
        line-height: 20px;
        margin-top: 20px;

      }
      .row{
        width: 85%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
      }
      .col{
        flex-basis: 25%;
        padding: 10px;
      }
      .col:nth-child(2),  .col:nth-child(3){
        flex-basis: 25%;
      }

      .logo {
        width: 80px;
        margin: 10px;
      }
      .col ul {
      list-style-type: none;  
      padding: 0px;
      margin: 0px;

      }
      .col ul li{
        text-decoration: underline;
        color:white; font-family:verdana;
        list-style: none;
        margin:0;
        padding:0;
        margin-bottom: 12px;
      }
      ul li a{
        text-decoration: none;
        color: rgb(214, 247, 255);
      }
      h2 {
      margin-top: 50px;
      }
      h3 {
        color:white; font-family:verdana;
      }
      hr{
        width: 90%;
        border: 0;
        border-bottom: 1px solid white;
        margin: 20px auto;

      }
      .copyright{
        text-align: center;
      }
      .underline{
        width: 100%;
        height: 5px;
        background: #ffffff;
        border-radius: 3px;

        top: 25px;
        left: 0;
      }
      .underline span{
        width: 15px;
        height: 100%;
        background: white;
        border-radius: 3px;
        top: 0;
        left: 10px;
        animation: moving 2s linear infinite;
      }
      body {
        max-width: 1920px ;
      }
      .error {
        text-align: center;
        align-items: center;
        width: auto;
        height: 100%;
        max-width: 100%
      }
      .m7w29c {
        background-color: black;
      }
      .button{
        height:200px;
        width:200px;
      }
      ::-webkit-scrollbar {
        width: 10px;
      }
      ::-webkit-scrollbar-track {
        background: #181818;
      }
      ::-webkit-scrollbar-thumb {
        background: white; 
        border-radius: 10px;
      }